*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
  background: linear-gradient(to right, rgb(146, 210, 240), #da3989);
  height: 5rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.navbar .logo {
  width: 160px;
  color: white;
  margin-left: 2rem;
}

nav.anav a {
  margin-left: 15px;
}
.logo1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
.menu-icon {
  width: 35px;
  height: 35px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 1.5rem;
  transform: translateY(-50%);
  z-index: 1001;
}

#sideMenu {
  position: fixed;
  top: 0;
  right: -150px;
  width: 150px;
  height: 100vh;
  background: white;
  color: black;
  padding: 20px;
  transition: right 0.3s ease;
  z-index: 2000;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: -2px 0 5px rgba(22, 21, 21, 0.3);
}

#sideMenu a {
  color: black;
  text-decoration: none;
  font-size: 18px;
}

#sideMenu .close-btn {
  font-size: 30px;
  cursor: pointer;
  align-self: flex-end;
}


#carouselExample {
  margin-top: 5rem;

}

#carouselExample .carousel-item img {
  width: 100%;
  max-height: 350px;
  object-fit: cover;
}

@media (max-width: 768px) {
  #carouselExample .carousel-item img {
    max-height: 250px;
  }
}


.tit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}
.tit h1 {
    color: rgb(177, 230, 255);
    display: inline-block;
    padding: 1rem;
    border-top: none;
}
